<ion-modal-view style="color:white;background-color:rgba(0,0,0,0.6);">

  <ion-content>
    <div class="row" style="padding:7px;">
      <div class="col">
        <h4 style="color:white;padding-top:15px;margin:0px;">전문 분야</h4>
      </div>
      <div class="col" style="text-align:right;">
        <h4 style="margin-bottom:1px;">
          <button class="button button-small button-energized" ng-click="search_obj.categoryCheckAll();">
            <span ng-show="search_obj.categoryIsCheckedAll">전체 해제</span>
            <span ng-hide="search_obj.categoryIsCheckedAll">전체 선택</span>
          </button>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col-xs-4 col-md-3" style="padding:5px;" ng-repeat="category in search_obj.category">
          <button ng-class="{'button-outline' : !category.ischecked}" class="button button-block button-energized" style="padding:3px; margin:0px; border-radius:10px;" ng-click="category.ischecked = !category.ischecked">
            {{category.name}}
          </button>
        </div>
      </div>
    </div>

    <br>

    <div class="row" style="padding:7px;">
      <div class="col">
        <h4 style="color:white;padding-top:15px;margin:0px;">서비스 방법</h4>
      </div>
      <div class="col text-right">
        <h4 style="margin-bottom:1px;">
          <button class="button button-small button-energized" ng-click="search_obj.priceCheckAll();">
            <span ng-show="search_obj.priceIsCheckedAll">전체 해제</span>
            <span ng-hide="search_obj.priceIsCheckedAll">전체 선택</span>
          </button>
        </h4>
      </div>
    </div>
    <div class="row" style="padding:5px;">
      <div class="col col-50">
        <button ng-class="{'button-outline' : !search_obj.price.phone}" class="button button-block button-energized" style="padding:3px; margin:0px; border-radius:10px;" ng-click="search_obj.price.phone = !search_obj.price.phone">
          <i class="icon ion-android-call"></i>
          전화
        </button>
      </div>
      <div class="col col-50">
        <button ng-class="{'button-outline' : !search_obj.price.email}" class="button button-block button-energized" style="padding:3px; margin:0px; border-radius:10px;" ng-click="search_obj.price.email = !search_obj.price.email">
          <i class="icon ion-android-mail"></i>
          이메일
        </button>
      </div>
    </div>
    <div class="row" style="padding:5px;">
      <div class="col col-50">
        <button ng-class="{'button-outline' : !search_obj.price.message}" class="button button-block button-energized" style="padding:3px; margin:0px; border-radius:10px;" ng-click="search_obj.price.message = !search_obj.price.message">
          <i class="icon ion-android-textsms"></i>
          문자/메시지
        </button>
      </div>
      <div class="col col-50">
        <button ng-class="{'button-outline' : !search_obj.price.interview}" class="button button-block button-energized" style="padding:3px; margin:0px; border-radius:10px;" ng-click="search_obj.price.interview = !search_obj.price.interview">
          <i class="icon ion-android-contacts"></i>
          대면
        </button>
      </div>
    </div>

    <br>

    <div class="row" style="padding:7px;">
      <div class="col">
        <h4 style="color:white;padding-top:15px;margin:0px;">가격</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="range range-energized">
          <span>최소</span>
          <input type="range" min="0" max="{{search_obj.price_max}}" step="1000" ng-model="search_obj.price_min">
          <span>{{search_obj.price_min|currency:"&#8361; ":0}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="range range-energized">
          <span>최대</span>
          <input type="range" min="{{search_obj.price_min}}" max="100000" step="1000" ng-model="search_obj.price_max">
          <span>{{search_obj.price_max|currency:"&#8361; ":0}}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col" style="padding-right:0px;">
        <p style="text-align:center;padding:0px;">최소 : {{search_obj.price_min|currency:"&#8361; ":0}}</p>
        <div class="range range-energized" style="padding:0px;">
          <input type="range" min="0" max="{{search_obj.price_max}}" step="1000" ng-model="search_obj.price_min" style="margin-right:0px;">
        </div>
      </div>
      <div class="col" style="padding-left:0px;">
        <p style="text-align:center;padding:0px;">최대 : {{search_obj.price_max|currency:"&#8361; ":0}}</p>
        <div class="range range-energized" style="padding:0px;">
          <input type="range" min="{{search_obj.price_min}}" max="100000" step="1000" ng-model="search_obj.price_max" style="margin-left:0px;">
        </div>
      </div>
    </div>

    <br>

    <div class="row" style="padding:7px;">
      <div class="col">
        <h4 style="color:white;padding-top:15px;margin:0px;">통합 검색</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list list-inset" style="margin-top:3px;background-color: transparent;">
          <label class="item item-input" style="background-color: transparent;">
            <input type="text" placeholder="검색어" style="color: white;" ng-model="search_obj.searchword">
          </label>
        </div>
      </div>
    </div>

    <br>

    <div class="row" style="padding:7px;">
      <div class="col">
        <button type="button" class="button button-assertive btn-block" ng-click="filterHide()">취소</button>
      </div>
      <div class="col">
        <button type="button" class="button button-balanced btn-block" ng-click="filterSearch()">확인</button>
      </div>
    </div>

    <br>

  </ion-content>
</ion-modal-view>
