<ion-view>
  <ion-nav-title>
    프로필
  </ion-nav-title>

  <ion-content>
    <!-- 프로필 이미지 & 텍스트 시작 -->
    <div class="row" id="profile_div" style="{{profile_style}}">
      <div style="position:absolute; {{expert.proflie_txt_location}}:0; padding:12px;">
        <h4 ng-class="{'text-stroke-white':!expert.proflie_txt_color,'text-stroke-black':expert.proflie_txt_color}">{{expert.profile_title}}</h4>
        <span ng-class="{'text-stroke-white':!expert.proflie_txt_color,'text-stroke-black':expert.proflie_txt_color}" style="white-space: pre;">{{expert.profile_text}}</span>
      </div>
    </div>
    <!-- 프로필 이미지 & 텍스트 끝 -->

    <div class="tabs tabs-top tabs-icon-left tabs-striped" style="position:relative;top:0px;">
      <div class="tab-item" ng-class="{'active':tab_val==='info'}" ng-click="tab_val='info'" style="font-size:11pt;">
        <i class="icon ion-information-circled"></i>
        정보
      </div>
      <div class="tab-item" ng-class="{'active':tab_val==='price'}" ng-click="tab_val='price'" style="font-size:11pt;">
        <i class="icon ion-social-usd"></i>
        가격
      </div>
      <div class="tab-item" ng-class="{'active':tab_val==='score'}" ng-click="tab_val='score'" style="font-size:11pt;">
        <i class="icon ion-heart"></i>
        평점
      </div>
    </div>

    <!-- 정보 탭 시작 -->
    <div ng-show="tab_val==='info'" style="margin-top:10px;">

      <div class="row">
        <div class="col col-25 text-right">
          <strong>이름</strong>
        </div>
        <div class="col col-75">
          {{expert.name}}
        </div>
      </div>

      <div class="row">
        <div class="col col-25 text-right">
          <strong>전문자격</strong>
        </div>
        <div class="col col-75">
          {{expert.expert_type}}
        </div>
      </div>

      <div class="row">
        <div class="col col-25 text-right">
          <strong>활동지역</strong>
        </div>
        <div class="col col-75">
          {{expert.location}}
        </div>
      </div>

      <div class="row">
        <div class="col col-25 text-right">
          <strong>전문분야</strong>
        </div>
        <div class="col col-75">
          <span style="padding:3px;font-size:12px;" class="cate-name" ng-repeat="cate in expert.category_list" ng-show="cate.checked" ng-style="cate.style">
            {{cate.name}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col col-25 text-right">
          <strong>서비스 방법</strong>
        </div>
        <div class="col col-75">
          <span ng-repeat="method_name in expert.method track by $index" style="color:gray;">
            <span ng-hide="$index===0">|</span>
            {{method_name}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col col-25 text-right">
          <strong>학력/경력</strong>
        </div>
        <div class="col col-75">
          <span style="white-space: pre;">{{expert.career}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col col-25 text-right">
          <strong>활동 이력</strong>
        </div>
        <div class="col col-75">
          <span style="white-space: pre;">{{expert.activity}}</span>
        </div>
      </div>

    </div>
    <!-- 정보 탭 끝 -->

    <!-- 가격 탭 시작 -->
    <div ng-show="tab_val==='price'">
      <div class="row">
        <div class="col" style="padding:10px;">
          <h4>이용방법 별 가격</h4>
          <p>
            아래는 기준 금액이며, 실제 금액은 계약 시점에 전문가와 협의하여 조정 가능합니다.
          </p>
        </div>
      </div>

      <div class="list">
        <div ng-repeat="method in expert.method_list track by $index" class="item" ng-show="method.checked">
          <span>
            <strong>{{method.name}}</strong>
          </span>
          <span class="pull-right">
            <strong>{{method.price|currency:"&#8361; ":0}}</strong>
            / {{method.unit}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <ul>
            <li>정확한 금액과 시간, 장소비, 교통비 등의 세부 내용은 전문가와 직접 협의하여 결정하시기 바랍니다.</li>
            <li>사전에 협의되지 않은 추가 비용을 요구하는 경우 마음고리에 신고하여 주십시오.</li>
          </ul>
        </div>
      </div>

    </div>
    <!-- 가격 탭 끝 -->

    <!-- 평점 탭 시작 -->
    <div ng-show="tab_val==='score'" style="margin-top:10px;">
      평점 탭
    </div>
    <!-- 평점 탭 끝 -->
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-light">
    <div class="row">
      <button class="col button button-energized" ng-class="{'button-outline':user_obj.jjim.indexOf(expert.id)<0}" ng-disabled="!login_func.loggedin" ng-click="login_func.jjim(expert.id)">
        <i class="icon ion-android-favorite-outline"></i>
        <span ng-show="user_obj.jjim.indexOf(expert.id)>-1"> 찜 취소</span>
        <span ng-hide="user_obj.jjim.indexOf(expert.id)>-1"> 찜하기</span>
      </button>
      <button class="col button button-positive" ng-disabled="!login_func.loggedin" ng-click="expertDetail_func.messageWrite()">
        <i class="icon ion-edit"></i>
        문의하기
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
