<ion-modal-view style="color:white;background-color:rgba(0,0,0,0.6);">

  <ion-content id="expert_filter_content">
    <div class="row" style="padding:7px;">
      <div class="col">
        <h4 style="color:white;padding-top:15px;margin:0px;">전문 분야</h4>
      </div>
      <div class="col" style="text-align:right;">
        <h4 style="margin-bottom:1px;">
          <button class="button button-small button-energized" ng-click="filter_func.categoryCheckAll(!filter_func.categoryCheckedAll);">
            <span ng-show="filter_func.categoryCheckedAll">전체 해제</span>
            <span ng-hide="filter_func.categoryCheckedAll">전체 선택</span>
          </button>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col-xs-4 col-md-3" style="padding:5px;" ng-repeat="category in filter_obj.category_list">
          <button type="button" ng-class="{'button-outline' : !category.checked}" class="button button-block button-energized" style="padding:3px; margin:0px; border-radius:10px;" ng-click="category.checked = !category.checked">
            {{category.name}}
          </button>
        </div>
      </div>
    </div>

    <br>

    <div class="row" style="padding:7px;">
      <div class="col">
        <h4 style="color:white;padding-top:15px;margin:0px;">지역</h4>
      </div>
      <div class="col" style="text-align:right;">
        <label class="checkbox" style="margin:0px;">
          <input type="checkbox" ng-model="filter_obj.location_all">
          <div style="padding-left:15px;margin-top:5px;">전국 포함</div>
        </label>
      </div>
    </div>
    <div class="row" style="padding: 0px 7px;">
      <div class="col">
        <select class="form-control" style="background-color:transparent;color:white;" ng-model="filter_obj.location">
          <option ng-repeat="location in filter_obj.location_list">{{location}}</option>
        </select>
      </div>
    </div>

    <br>

    <div class="row" style="padding:7px;">
      <div class="col">
        <h4 style="color:white;padding-top:15px;margin:0px;">서비스 방법</h4>
      </div>
      <div class="col text-right">
        <h4 style="margin-bottom:1px;">
          <button class="button button-small button-energized" ng-click="filter_func.methodCheckAll(!filter_func.methodCheckedAll);">
            <span ng-show="filter_func.methodCheckedAll">전체 해제</span>
            <span ng-hide="filter_func.methodCheckedAll">전체 선택</span>
          </button>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col-xs-6 col-md-4" style="padding:5px;" ng-repeat="method in filter_obj.method_list">
          <button type="button" ng-class="{'button-outline' : !method.checked}" class="button button-block button-energized"  style="padding:3px; margin:0px; border-radius:10px;" ng-click="method.checked = !method.checked">
            <i class="{{method.icon}}"></i>
            {{method.name}}
          </button>
        </div>
      </div>
    </div>

    <div class="row" style="padding:7px;">
      <div class="col">
        <h4 style="color:white;padding-top:15px;margin:0px;">가격</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="range range-energized">
          <span>최소</span>
          <input type="range" min="0" max="{{filter_obj.method_price_max}}" step="1000" ng-model="filter_obj.method_price_min">
          <span>{{filter_obj.method_price_min|currency:"&#8361; ":0}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="range range-energized">
          <span>최대</span>
          <input type="range" min="{{filter_obj.method_price_min}}" max="{{filter_obj.method_price_max_val}}" step="1000" ng-model="filter_obj.method_price_max">
          <span>{{filter_obj.method_price_max|currency:"&#8361; ":0}}</span>
        </div>
      </div>
    </div>

    <br>

    <div class="row" style="padding:7px;">
      <div class="col">
        <h4 style="color:white;padding-top:15px;margin:0px;">통합 검색</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list list-inset" style="margin-top:3px;background-color: transparent;">
          <label class="item item-input" style="background-color: transparent;">
            <input type="text" placeholder="검색어" style="color: white;" ng-model="filter_obj.searchword">
          </label>
        </div>
      </div>
    </div>

    <br>

    <div class="row" style="padding:7px;">
      <div class="col">
        <button type="button" class="button button-assertive btn-block" ng-click="filter_func.filterHide()">취소</button>
      </div>
      <div class="col">
        <button type="button" class="button button-balanced btn-block" ng-click="filter_func.filterSearch()">확인</button>
      </div>
    </div>

    <br>

  </ion-content>
</ion-modal-view>
