<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-royal">
      <h1 class="title">메뉴</h1>
    </ion-header-bar>
    <ion-content style="background-color:#002349;">
      <ion-list>

        <ion-item nav-clear menu-close ng-click="login()" class="item item-royal">
          로그인
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/mypage" class="item item-royal">
          마이페이지
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/expert" class="item item-royal">
          전문가 목록
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
